doctype html
html(lang="en")
  head
    block title
      title Untitled

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')

  body
    block content
    
    include scripts