card_w = 129px
card_h = 175px
card_gutter = 10px
card_radius = 4px

color_red = #c0392b
color_black = #333
color_deck = #A4A59E
color_game_bg = #4B3F64
color_button_text = #675374
color_button_bg = white
color_hit = #CD77FF
color_stand = #23D0B6
color_restart = #69db73

diamond = '\2666'
spade = '\2660'
heart = '\2665'
club = '\2663'