[data-card]
  background-color: white;
  padding: card_gutter;
  border-radius: card_radius;
  width: card_w;
  height: card_h;
  position: relative;
  z-index: 10;
  vertical-align: top;
  box-shadow: 0 0 5px 1px rgba(black, 0.2); 
  -webkit-animation-duration: 200ms;
  cursor: default;
  display: none;
  
  &.slideInLeft
    -webkit-animation-duration: 600ms;
  
  &.animated
    display: inline-block;
  
  &.red
    color: color_red;
    
  &.black
    color: color_black;
    
  &.flipped
    background: white;
    
    &:before
      content: heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond heart spade club diamond
      white-space: normal;
      display: block;
      word-break: break-word;
      font-size: 13px;
      padding: card_gutter;
      padding-top: card_gutter + 2px;
      width: 100%;
      line-height: 1;
      color: color_deck;
      
  &:before
    font-family: serif;
    white-space: pre;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  i 
    white-space: pre;
    text-align: center;
    font-style: normal;
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.3;
    
    &:before
      position: absolute;
      top: card_gutter;
      left: card_gutter;
      
    &:after
      position: absolute;
      bottom: card_gutter; 
      right: card_gutter;
      transform: rotate(180deg);

[data-card="q"],
[data-card="j"],
[data-card="k"]
  position: relative;
  
  &:after
    white-space: pre;
    z-index: 400;
    position: relative;
    top: 25px;
  
  &:before
    content: "";
    background: transparent center center no-repeat;
    background-size: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    
.flip-card-container
  display: inline-block;
  position: relative;
  width: card_w;
  height: card_h;
  perspective: 800px;
  z-index: 400;
  
  &.reveal .bounds
    transform: rotateY(180deg);
  
  .bounds 
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    
    [data-card]
      display: block;
      position: absolute;
      top: auto;
      left: auto;
      z-index: auto !important;
      margin: 0 !important;
      backface-visibility: hidden;
      
      & + [data-card]
        transform: rotateY(180deg);
        -webkit-animation: none;
        animation: none;
