extends templates/layout

block title
    title JSblackjack 2

block content
    .sounds-switch
        label(for="sounds") Sounds
        input#sounds(type="checkbox")

    .credits
        span.by Designed and built by 
            a(href="//github.com/vctrfrnndz") @vctrfrnndz
            |. See the source on 
            a(href="//github.com/vctrfrnndz/JSblackjack2") Github
            |.
    .js-blackjack